.lugares-titulo {
    font-size: 48px;
    font-family:"pacifico",cursive;
}
.lugares {
    height:600px;
    overflow: hidden;
    .lugares-img {
        width: 100%;
        height: 50%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }    
    .lugares-info{
        height:50%;
        background-color: $colorprimario;       
    }
}



