* {
    box-sizing: border-box;  
}
body {
    background-color: #fff;
}    
.navegacion {
    background-color: $colorprimario;
    border-radius: 4px;
    margin-top: 20px;
    .nav__titulo {
        padding-top: 20px;
        font-size: 34px; 
        font-family:"pacifico",cursive;      
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .nav__rutas{
        margin-top: 20px;
        list-style: none;
        @include propiedadDisplay (flex,center,center,column);
        font-size: 22px;
        li { 
            padding: 10px 20px;
            border-radius: 4px;
        }
        a {
            text-decoration: none;
            color: #fff;
            text-align: left;
        }
    }  
}

/*------HOME------*/

.home {
    background-color: $colorprimario;
    .home__titulo {
        font-size: 36px;
        padding: 25px 10px ;
        font-family:"pacifico",cursive;   
    }
    .home__info {
        font-size: 18px;
        padding: 10px 15px;
    }   
}
/*-----RESUMEN-----*/

.secundario {
    display: none;
}
.resumen {
    width: 95%;
    height:65vh;
    margin: auto;
    .resumen-conteiner {
        background-color: $colorprimario;
        width: 30%;
        height: 100%;
        @include propiedadDisplay (flex,center,center,column);
        .resumen__img{
            height: 55%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .resumen__texto{
            height: 45%;
            padding:30px 10px;
            font-size:18px;
            overflow: hidden;
        }
    }       
}

/*-----PIE DE PAGINA-----*/

.pie {
    background-color: #eeea;
    margin-top: 20px;
}

.pie-titulo {
    padding-top: 20px;
    font-size: 32px;
    font-family: "pacifico" ,cursive;
}
.pie-contacto {
    padding-top: 5px;
    font-size: 20px;
    .fa-phone,.fa-location-dot {
        margin: 0px 8px;
    }
}

.pie-iconos {
    margin-top: 15px;
    a{
        text-decoration: none;
        color: #000;
        i { 
            @include boxmodel(10px,15px,3px solid #0cf,25px);
            font-size: 26px;
            background-color: $colorprimario;   
        }
    }
}


@media (min-width:768px) {
    .navegacion {
        margin: 0;
        height: 70px;
        @include propiedadDisplay (flex,space-between,center,row);
        .nav__titulo {
            width: 35%;
            padding:0px 5px;
            font-size: 28px; 
        }          
        .nav__rutas{
            width: 65%;
            @include propiedadDisplay (flex,space-around,center,row);
            font-size:map-get($letras,tamaño);
            li { 
                padding: 10px 15px;
                &:hover {
                background-color: #00D0FF;
                transform: scale(0.95);
                box-shadow: 0px -2px 10px 0 #ddd;
                }
            }
        }
    }
    .home {
        margin-top: 30px;
        .home__info {
            padding: 10px 15px;
        }     
    }   
}

@media (min-width:1024px){
    .home {
        width: 95%;
        height: 550px;
        margin:50px auto;
        @include propiedadDisplay (flex,center,center,row); 
        border-radius: 10px;
        .home-texto{
            width: 50%;
            .home__titulo {
                font-size: 42px;
                }
            .home__info {
                font-size:map-get($letras,tamaño);
                color:map-get($letras, colores);
            }
        }    
        .home-img {
            width: 50%;
            height: 100%;
                img {
                width: 100%;
                height: 100%;
                border-radius:10px 0 0 10px;
            }
        }
    }
    .secundario {
        display: block;
    }

    .pie {
        @include propiedadDisplay (flex,space-evenly,center,row);
        .pie-contacto {
            order: 2;
            .fa-phone:hover {
                transform: rotate(35deg);
            }
            .fa-location-dot:hover {
                transform: translatey(3px);
            }
        }
        .pie-titulo {
            display: none;
        }
        .pie-iconos i {
           transition-duration: .3s;
           &:hover {
            transform: translatey(-10px);
            }
        }
    }   
}